<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>FormApp</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://unpkg.com/vee-validate"></script>
  </head>
  <body>
    <div id="root">
      <div class="flex h-screen bg-gray-100">
        <div class="m-auto">
          <div>
            <div class="mt-5 bg-white rounded-lg shadow">
              <div class="flex">
                <div class="flex-1 py-5 pl-5 overflow-hidden">
                  <h1 class="inline text-2xl font-semibold leading-none">
                    MarketMix User Form
                  </h1>
                </div>
              </div>
              <form>
                <div class="px-5 pb-5">
                    <input
                      v-model="name"
                      placeholder="Nombre"
                      class="text-black placeholder-gray-600 w-full px-4 py-2.5 mt-2 text-base transition duration-500 ease-in-out transform border-transparent rounded-lg bg-gray-200 focus:border-blueGray-500 focus:bg-white dark:focus:bg-gray-800 dark:text-white focus:outline-none focus:shadow-outline focus:ring-2 ring-offset-current ring-offset-2 ring-gray-400"
                      required                    
                      /><input
                      v-model="lastname"
                      placeholder="Appellidos"
                      class="text-black placeholder-gray-600 w-full px-4 py-2.5 mt-2 text-base transition duration-500 ease-in-out transform border-transparent rounded-lg bg-gray-200 focus:border-blueGray-500 focus:bg-white dark:focus:bg-gray-800 dark:text-white focus:outline-none focus:shadow-outline focus:ring-2 ring-offset-current ring-offset-2 ring-gray-400"
                      required
                      />
                    <input
                      v-model="username"
                      placeholder="Usuario"
                      class="text-black placeholder-gray-600 w-full px-4 py-2.5 mt-2 text-base transition duration-500 ease-in-out transform border-transparent rounded-lg bg-gray-200 focus:border-blueGray-500 focus:bg-white dark:focus:bg-gray-800 dark:text-white focus:outline-none focus:shadow-outline focus:ring-2 ring-offset-current ring-offset-2 ring-gray-400"
                      required
                    />
                    <input
                    v-model="birthdate"
                    placeholder="Fecha Nacimiento"
                    type="date"
                    class="text-black placeholder-gray-600 w-full px-4 py-2.5 mt-2 text-base transition duration-500 ease-in-out transform border-transparent rounded-lg bg-gray-200 focus:border-blueGray-500 focus:bg-white dark:focus:bg-gray-800 focus:outline-none focus:shadow-outline focus:ring-2 ring-offset-current ring-offset-2 ring-gray-400"
                    required
                  />
                    </div>
                  </div>
                  <hr class="mt-4" />
                  <div class="flex flex-row-reverse p-3">
                    <div class="flex-initial pl-3">
                      <button
                        @click="addNewUser"
                        type="submit"
                        class="flex items-center px-5 py-2.5 font-medium tracking-wide text-white capitalize bg-black rounded-md hover:bg-gray-800 focus:outline-none focus:bg-gray-900 transition duration-300 transform active:scale-95 ease-in-out"
                      >
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          height="24px"
                          viewBox="0 0 24 24"
                          width="24px"
                          fill="#FFFFFF"
                        >
                          <path d="M0 0h24v24H0V0z" fill="none"></path>
                          <path
                            d="M5 5v14h14V7.83L16.17 5H5zm7 13c-1.66 0-3-1.34-3-3s1.34-3 3-3 3 1.34 3 3-1.34 3-3 3zm3-8H6V6h9v4z"
                            opacity=".3"
                          ></path>
                          <path
                            d="M17 3H5c-1.11 0-2 .9-2 2v14c0 1.1.89 2 2 2h14c1.1 0 2-.9 2-2V7l-4-4zm2 16H5V5h11.17L19 7.83V19zm-7-7c-1.66 0-3 1.34-3 3s1.34 3 3 3 3-1.34 3-3-1.34-3-3-3zM6 6h9v4H6z"
                          ></path>
                        </svg>
                        <span class="pl-2 mx-1">Save</span>
                      </button>
                    </div>
                  </div>
              </form>
            </div>
            <div class="mt-5 bg-white shadow cursor-pointer rounded-xl" v-if="users.length > 0">
              <div class="flex">
                <div class="flex-1 py-5 pl-5 overflow-hidden" v-for="user in users">
                  <ul>
                    <li class="text-xs text-gray-600 uppercase">Usuario</li>
                    <li>Nombre: {{ user.name}}</li>
                    <li>Apellido: {{ user.lastName }}</li>
                    <li>Nombre Completo: {{ user.fullName }}</li>
                    <li>Usuario: {{ user.userName }}</li>
                    <li>Fecha Nacimiento: {{ user.birthdate }}</li>
                    <li>Edad: {{ user.age }}</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="main.js"></script>
  </body>
</html>
